body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #4bc0c8, #c779d0, #feac5e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar-box {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.avatar-box img {
  width: 80px;
  height: 80px;
}
.body-box {
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-width: 600px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
  color: #333;
  font-family: "_GB2312 KaiTi_GB2312";
  display: block;
  padding: 30px;
  max-width: 700px;
  min-height: 70vh;
  width: 90%;
  letter-spacing: 1px;
  line-height: 1.7;
  overflow-y: scroll;
}
.body-box::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.body-box p {
  color: rgb(133, 70, 70);
  font-family: _GB2312 KaiTi_GB2312;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 4px 4px 3px #0000001a;
}
.body-box a {
  text-decoration: none;
}
.declaration {
  text-align: center;
  padding: 40px;
  font-size: 12px;
}
