* {
  margin: 0;
  padding: 0;
}
body {
  /* 100%窗口高度 */
  height: 100vh;
  /* 弹性布局 水平+垂直居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://raw.githubusercontent.com/ruan-he/photos/main/showbcgi.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
}
.container {
  /* 弹性布局 默认水平排列 */
  display: flex;
  width: 1000vw;
  max-width: 1500px;
  height: 700px;
  /* 溢出隐藏 */
  overflow: hidden;
}
.item {
  /* 相对定位 */
  position: relative;
  width: 50px;
  margin: 5px;
  border-radius: 20px;
  /* 保持原有尺寸比例，裁切长边 */
  background-size: cover;
  /* 定位背景图像为正中间 */
  background-position: center;
  /* 过渡效果：时长 贝塞尔曲线 */
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  overflow: hidden;
  border: #fa0000 10px;
}
/* 选中态样式 */
.item.active {
  flex: 1;
  margin: 0;
  border-radius: 40px;
}
