* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(https://raw.githubusercontent.com/ruan-he/photos/main/showbcgi.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
}
.container-main {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 1000vw;
  max-width: 1500px;
  height: 700px;
  /* 溢出隐藏 */
  overflow: hidden;
}
.item {
  /* 相对定位 */
  position: relative;
  width: 50px;
  margin: 5px;
  border-radius: 20px;
  /* 保持原有尺寸比例，裁切长边 */
  background-size: cover;
  /* 定位背景图像为正中间 */
  background-position: center;
  /* 过渡效果：时长 贝塞尔曲线 */
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  overflow: hidden;
  border: #fa0000 10px;
}
/* 选中态样式 */
.item.active {
  flex: 1;
  margin: 0;
  border-radius: 40px;
}
.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-box1 {
  width: 750px;
  height: 350px;
  margin: 2px;
  justify-content: center;
  align-items: center;
}
.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-box2 {
  margin: 2px;
  width: 350px;
  height: 750px;
}
.container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#s8 {
  margin: 2px;
  width: 1000px;
  height: 750px;
}
#s29 {
  margin: 2px;
  width: 421.7px;
  height: 750px;
}
/*  */
#sr1 {
  margin: 2px;
  width: 442.5px;
  height: 750px;
}
#sr2 {
  margin: 2px;
  width: 540.5px;
  height: 750px;
}
#sr3 {
  margin: 2px;
  width: 521.5px;
  height: 750px;
}
#sr4 {
  margin: 2px;
  width: 500px;
  height: 750px;
}
#sr5 {
  margin: 2px;
  width: 674px;
  height: 750px;
}
#sr6 {
  margin: 2px;
  width: 461px;
  height: 750px;
}
#sr7 {
  margin: 2px;
  width: 1437px;
  height: 750px;
}
#sr8 {
  margin: 2px;
  width: 1125px;
  height: 750px;
}
#sr9 {
  margin: 2px;
  width: 423px;
  height: 750px;
}
#sr10 {
  margin: 2px;
  width: 530px;
  height: 670px;
}
#sr11 {
  margin: 2px;
  width: 1500px;
  height: 629px;
}
#sr12 {
  margin: 2px;
  width: 1005px;
  height: 670px;
}
#sr13 {
  margin: 2px;
  width: 1316px;
  height: 750px;
}
/*  */
#s30 {
  margin: 2px;
  width: 562.5px;
  height: 750px;
}
#s31 {
  margin: 2px;
  width: 562.5px;
  height: 750px;
}
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}
